body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-image:url("https://images.pexels.com/photos/364308/pexels-photo-364308.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 900px 600px;
    background-repeat:no-repeat;
}

#SiteTitle{
	color:black;
	float: left;
}

.SiteHeader{
	width:vw;
	height: 100px;
	border: 0px;
}

#PageTitle{
	height:50px;
	width:vw;
}
#PageTitle h2{
	color: black;
	text-align: center;
}

#LoginHeader{
	width:10%;
	height:100%;
	background-color: green;
	border: 2px solid black;
	float:right;
	display: table;
}
#LoginHeader p{
	color:black;
	display: table-cell;
	
	vertical-align: middle;
	text-align: center;

}

#LoginDiv{
	background-color: lightblue;
	margin: auto;
    text-align:center;
	display:table;
}

#LoginForm{
	color:black;
	
}


#AccountCreationDiv{
	background-color: lightblue;
	margin: auto;
    text-align:center;
	display:table;
}

#AccountCreationForm{
	color:black;
	
}

